@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");


.mediaViewInfo {
  --web-view-name: 1024-01-Landing;
  --web-view-id: ID1024-01-Landing;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: ID1024-01-Landing;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#ID1024-01-Landing {
  position: absolute;
  width: 1024px;
  height: 690px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  --web-view-name: 1024-01-Landing;
  --web-view-id: ID1024-01-Landing;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
#f33fd4f8b95b3e5806b865ff0d8e7f {
  position: absolute;
  width: 553.364px;
  height: 400.319px;
  left: 470.636px;
  top: 305.243px;
  overflow: visible;
}
#Group_496 {
  fill: rgba(23,32,55,1);
}
.Group_496 {
  position: absolute;
  overflow: visible;
  width: 1242px;
  height: 698px;
  left: -62px;
  top: 0px;
}
#Rectangle_206_v {
  opacity: 0.383;
  fill: url(#Rectangle_206_v);
}
.Rectangle_206_v {
  position: absolute;
  overflow: visible;
  width: 1024px;
  height: 201px;
  left: -6px;
  top: 0px;
}
#Rectangle_207_x {
  opacity: 0.7;
  fill: url(#Rectangle_207_x);
}
.Rectangle_207_x {
  width: 1024px;
  height: 136px;
  position: absolute;
  overflow: visible;
  transform: matrix(1,0,0,1,0,554) rotate(180deg);
  transform-origin: center;
}
#Group_401 {
  position: absolute;
  width: 897.058px;
  height: 38px;
  left: 95px;
  top: 620px;
  overflow: visible;
}
#OnlineLearning {
  left: 759.058px;
  top: 14px;
  position: absolute;
  overflow: visible;
  width: 139px;
  white-space: nowrap;
  text-align: right;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgb(255, 255, 255);
}
#Online{
  left: 0px;
  top: -80px;
  position: absolute;
  overflow: visible;
  width: 211px;
  white-space: nowrap;
  text-align: left;
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: rgba(255,255,255,1);
}
#Learning_Platform{
  left: 0px;
  top: -40px;
  position: absolute;
  overflow: visible;
  width: 211px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  color: rgba(255,255,255,1);
}
#ForAllAges{
  left: 0px;
  top: 10px;
  position: absolute;
  overflow: visible;
  width: 211px;
  white-space: nowrap;
  text-align: left;
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(255,255,255,1);
}
#Group_2154 {
  position: absolute;
  width: 465px;
  height: 98px;
  left: 95.058px;
  top: 495px;
  overflow: visible;
}
#Online_Learning_Platform {
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 1));
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 466px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: rgba(255,255,255,1);
  text-transform: uppercase;
}
#Logo {
  position: absolute;
  width: 130px;
  height: 130px;
  left: 447px;
  top: 11px;
  overflow: visible;
}
#ISU_Logo_2017-18_Transparent {
  fill: rgb(187, 10, 33);
}
.ISU_Logo_2017-18_Transparent {
  position: absolute;
  overflow: visible;
  width: 130px;
  height: 130px;
  left: 0px;
  top: 0px;
}
#Temp_NAME {
  left: 27px;
  top: 92px;
  position: absolute;
  overflow: visible;
  width: 77px;
  white-space: nowrap;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgba(255,255,255,1);
  text-transform: uppercase;
}
#In_page {
  position: absolute;
  width: 137.956px;
  height: 234.976px;
  left: -83.957px;
  top: 227.024px;
  overflow: visible;
}
#Tap_zone {
  fill: transparent;
}
.Tap_zone {
  position: absolute;
  overflow: visible;
  width: 65px;
  height: 230px;
  left: 72.957px;
  top: 4.976px;
}
#Ellipse_427 {
  fill: rgba(255, 255, 255, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_427 {
  position: absolute;
  overflow: visible;
  width: 10px;
  height: 10px;
  left: 97.957px;
  top: 48.976px;
}
#Ellipse_427_ {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(255,255,255,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_427_ {
  position: absolute;
  overflow: visible;
  width: 4px;
  height: 4px;
  left: 100.957px;
  top: 95.976px;
}
#Ellipse_427_ba {
  fill: rgb(255,255,255);
  stroke: rgba(255,255,255,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_427_ba {
  position: absolute;
  overflow: visible;
  width: 4px;
  height: 4px;
  left: 100.957px;
  top: 139.976px;
}
#Ellipse_427_bb {
  fill: rgb(255,255,255);
  stroke: rgba(255,255,255,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_427_bb {
  position: absolute;
  overflow: visible;
  width: 4px;
  height: 4px;
  left: 100.957px;
  top: 183.976px;
}
#Ellipse_427_bc {
  fill: rgba(255,255,255,1);
  stroke: rgba(255,255,255,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_427_bc {
  position: absolute;
  overflow: visible;
  width: 4px;
  height: 4px;
  left: 100.957px;
  top: 227.976px;
}
#Path_2472 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_2472 {
  overflow: visible;
  position: absolute;
  width: 1px;
  height: 29.761px;
  left: 102.957px;
  top: 17.578px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2473 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_2473 {
  overflow: visible;
  position: absolute;
  width: 1px;
  height: 29.761px;
  left: 102.957px;
  top: 61.578px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2474 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_2474 {
  overflow: visible;
  position: absolute;
  width: 1px;
  height: 29.761px;
  left: 102.957px;
  top: 105.578px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2475 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_2475 {
  overflow: visible;
  position: absolute;
  width: 1px;
  height: 29.761px;
  left: 102.957px;
  top: 149.578px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2476 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_2476 {
  overflow: visible;
  position: absolute;
  width: 1px;
  height: 29.761px;
  left: 102.957px;
  top: 193.578px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_2287 {
  position: absolute;
  width: 70px;
  height: 234.367px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Intro {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 30px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgb(255,255,255);
}
#Features {
  left: 0px;
  top: 43.67px;
  position: absolute;
  overflow: visible;
  width: 54px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgb(255,255,255);
}
#Mission {
  left: 0px;
  top: 89.372px;
  position: absolute;
  overflow: visible;
  width: 47px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: white;
}
#Application {
  left: 0px;
  top: 133.042px;
  position: absolute;
  overflow: visible;
  width: 71px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgba(255,255,255,1);
}
#Why_Us {
  left: 0px;
  top: 176.712px;
  position: absolute;
  overflow: visible;
  width: 55px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgba(255,255,255,1);
}
#FAQ {
  left: 0px;
  top: 219.367px;
  position: absolute;
  overflow: visible;
  width: 27px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgba(255,255,255,1);
}
#Ellipse_687 {
  fill: rgb(255,255,255);
  stroke: rgba(255,255,255,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_687 {
  position: absolute;
  overflow: visible;
  width: 4px;
  height: 4px;
  left: 100.957px;
  top: 7.976px;
}
#Contact {
  position: absolute;
  width: 111.218px;
  height: 30px;
  left: 897.641px;
  top: 16px;
  overflow: visible;
}
#Contact:hover{
  background: rgba(187, 10, 33, 1);
}
#Ellipse_432 {
  fill: rgba(187,10,33,1);
}
.Ellipse_432 {
  position: absolute;
  overflow: visible;
  width: 20px;
  height: 20px;
  left: 0px;
  top: 0px;
}
#Contact_bs {
  left: 27.218px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 85px;
  white-space: nowrap;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: white;
  text-transform: uppercase;
}
#Polygon_16 {
  fill: transparent;
  stroke: white;
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Polygon_16 {
  overflow: visible;
  position: absolute;
  width: 9px;
  height: 6px;
  transform: translate(0px, 0px) matrix(1,0,0,1,5.6412,24) rotate(180deg);
  transform-origin: center;
  left: 0px;
  top: 0px;
}
#Group_2240 {
  position: absolute;
  width: 11.23px;
  height: 8.679px;
  left: 4.606px;
  top: 5.518px;
  overflow: visible;
}
#Rectangle_241 {
  fill: rgba(0,0,0,0);
  stroke: rgba(255,255,255,1);
  stroke-width: 0.75px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_241 {
  position: absolute;
  overflow: visible;
  width: 11.979px;
  height: 9.429px;
  left: 0px;
  top: 0px;
}
#Line_45 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 0.75px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_45 {
  overflow: visible;
  position: absolute;
  width: 4.607px;
  height: 4.255px;
  left: 7.324px;
  top: 0.165px;
  transform: matrix(1,0,0,1,0,0);
}
#Line_46 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 0.75px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_46 {
  overflow: visible;
  position: absolute;
  width: 1.071px;
  height: 1.071px;
  left: 6.73px;
  top: 3.895px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2488 {
  fill: rgba(0,0,0,0);
  stroke: rgba(255,255,255,1);
  stroke-width: 0.75px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_2488 {
  overflow: visible;
  position: absolute;
  width: 6.955px;
  height: 5.41px;
  left: 0.235px;
  top: 0.273px;
  transform: matrix(1,0,0,1,0,0);
}
#Line_47 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 0.75px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_47 {
  overflow: visible;
  position: absolute;
  width: 3.702px;
  height: 3.702px;
  left: 0.871px;
  top: 4.736px;
  transform: matrix(1,0,0,1,0,0);
}
#Line_48 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 0.75px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_48 {
  overflow: visible;
  position: absolute;
  width: 3.702px;
  height: 3.702px;
  left: 7.5px;
  top: 4.736px;
  transform: matrix(1,0,0,1,0,0);
}
#Ellipse_442 {
  fill: transparent;
  stroke: white;
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_442 {
  position: absolute;
  overflow: visible;
  width: 20px;
  height: 20px;
  left: 0px;
  top: 0px;
}
#Logins {
  position: absolute;
  width: 88px;
  height: 30px;
  left: 772.641px;
  top: 14px;
  overflow: visible;
}

#Ellipse_433 {
  fill: transparent;
}

.Ellipse_433 {
  position: absolute;
  overflow: visible;
  width: 20px;
  height: 20px;
  left: 0px;
  top: 0px;
}

#Logins_b {
  left: 28px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 61px;
  white-space: nowrap;
  text-align: center;
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(255,255,255,1);
  text-transform: uppercase;
}
#Logins_b:hover{
  background: rgba(187,10,33,1);
}
#Polygon_15 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Polygon_15 {
  overflow: visible;
  position: absolute;
  width: 9px;
  height: 6px;
  transform: translate(0px, 0px) matrix(1,0,0,1,6.6412,24) rotate(180deg);
  transform-origin: center;
  left: 0px;
  top: 0px;
}

#Group_2238 {
  position: absolute;
  width: 8.622px;
  height: 13.456px;
  left: 6.02px;
  top: 3.03px;
  overflow: visible;
}
#Rectangle_240 {
  fill: rgba(0,0,0,0);
  stroke: rgba(255,255,255,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_240 {
  position: absolute;
  overflow: visible;
  width: 9.622px;
  height: 9.622px;
  left: 0px;
  top: 4.834px;
}
#Path_2487 {
  fill: rgba(0,0,0,0);
  stroke: rgba(255,255,255,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_2487 {
  overflow: visible;
  position: absolute;
  width: 5.785px;
  height: 5.834px;
  left: 1.821px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Ellipse_439 {
  fill: rgba(255, 255, 255, 1);
}
.Ellipse_439 {
  position: absolute;
  overflow: visible;
  width: 1.141px;
  height: 1.141px;
  left: 6.035px;
  top: 2.904px;
}
#Ellipse_440 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_440 {
  position: absolute;
  overflow: visible;
  width: 3.299px;
  height: 3.299px;
  left: 3.161px;
  top: 8.04px;
}
#Ellipse_441 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_441 {
  position: absolute;
  overflow: visible;
  width: 20px;
  height: 20px;
  left: 0px;
  top: 0px;
}
#Group_2285 {
  position: absolute;
  width: 115px;
  height: 115px;
  left: -57px;
  top: -57px;
  overflow: visible;
}
#Ellipse_685 {
  fill: rgb(187, 10, 33);
}
.Ellipse_685 {
  position: absolute;
  overflow: visible;
  width: 115px;
  height: 115px;
  left: 0px;
  top: 0px;
}
#Menu {
  position: absolute;
  width: 15.124px;
  height: 10.137px;
  left: 73.141px;
  top: 76.312px;
  overflow: visible;
}
#Group_457 {
  position: absolute;
  width: 15.124px;
  height: 10.137px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Line_42 {
  fill: transparent;
  stroke: rgba(255,249,251,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_42 {
  overflow: visible;
  position: absolute;
  width: 17.124px;
  height: 2px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Line_43 {
  fill: transparent;
  stroke: rgba(255,249,251,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_43 {
  overflow: visible;
  position: absolute;
  width: 17.124px;
  height: 2px;
  left: 0px;
  top: 5.068px;
  transform: matrix(1,0,0,1,0,0);
}
#Line_44 {
  fill: transparent;
  stroke: rgba(255,249,251,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_44 {
  overflow: visible;
  position: absolute;
  width: 17.124px;
  height: 2px;
  left: 0px;
  top: 10.137px;
  transform: matrix(1,0,0,1,0,0);
}
