@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

.mediaViewInfo {
  --web-view-name: 1600-01-Landing – 1;
  --web-view-id: ID1600-01-Landing__1;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: ID1600-01-Landing__1;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#ID1600-01-Landing__1 {
  position: absolute;
  width: 1600px;
  height: 960px;
  background-color: rgba(255,255,255,1);
  overflow: hidden;
  --web-view-name: 1600-01-Landing – 1;
  --web-view-id: ID1600-01-Landing__1;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}

#Group_2154 {
  position: absolute;
  width: 186px;
  height: 67px;
  left: 90.141px;
  top: 231.707px;
  overflow: visible;
}
#LOGIN {
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.102));
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 187px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 55px;
  color: rgb(187, 10, 33);
  text-transform: uppercase;
}
#Group_2285 {
  position: absolute;
  width: 150px;
  height: 150px;
  left: -74px;
  top: -74px;
  overflow: visible;
}
#Ellipse_685 {
  fill: rgba(187,10,33,1);
}
.Ellipse_685 {
  position: absolute;
  overflow: visible;
  width: 150px;
  height: 150px;
  left: 0px;
  top: 0px;
}
#Menu {
  position: absolute;
  width: 19.727px;
  height: 13.222px;
  left: 94.902px;
  top: 99.037px;
  overflow: visible;
}
#Group_Menu {
  position: absolute;
  width: 19.727px;
  height: 13.222px;
  left: 0px;
  top: 0px;
  overflow: visible;

}
.Group_Menu{
  background-color: #bb0a21;
  padding: 0px;
  font-size: 16px;
  color: transparent;
  cursor: pointer;
}
#Line_42 {
  fill: transparent;
  stroke: rgba(255,249,251,1);
  stroke-width: 3px;
  stroke-linejoin: miter;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_42 {
  overflow: visible;
  position: absolute;
  width: 22.727px;
  height: 3px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}

#Line_43 {
  fill: transparent;
  stroke: rgba(255,249,251,1);
  stroke-width: 3px;
  stroke-linejoin: miter;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_43 {
  overflow: visible;
  position: absolute;
  width: 22.727px;
  height: 3px;
  left: 0px;
  top: 6.611px;
  transform: matrix(1,0,0,1,0,0);
}
#Line_44 {
  fill: transparent;
  stroke: rgba(255,249,251,1);
  stroke-width: 3px;
  stroke-linejoin: miter;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_44 {
  overflow: visible;
  position: absolute;
  width: 22.727px;
  height: 3px;
  left: 0px;
  top: 13.222px;
  transform: matrix(1,0,0,1,0,0);
}
#Rectangle_274 {
  fill: rgba(255,255,255,1);
  stroke: rgba(112,112,112,1);
  stroke-width: 3px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_274 {
  position: absolute;
  overflow: visible;
  width: 832px;
  height: 39px;
  left: 90px;
  top: 329px;
}
#Rectangle_275 {
  fill: rgba(255,255,255,1);
  stroke: rgba(112,112,112,1);
  stroke-width: 3px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_275 {
  position: absolute;
  overflow: visible;
  width: 832px;
  height: 39px;
  left: 90px;
  top: 398px;
}
#Email {
  left: 110px;
  top: 340px;
  position: absolute;
  overflow: visible;
  width: 202px;
  height: 23px;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(197,197,197,1);
  text-transform: uppercase;
}
#Password {
  left: 110px;
  top: 409px;
  position: absolute;
  overflow: visible;
  width: 202px;
  height: 23px;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(197,197,197,1);
  text-transform: uppercase;
}
#Button {
  position: absolute;
  width: 171px;
  height: 42px;
  left: 90px;
  top: 467px;
  overflow: visible;
}
#Outline {
  position: absolute;
  width: 171px;
  height: 42px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#LoginBtn {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 49px;
}
.LoginBtn{
  background-color: transparent;
  padding: 10px 60px;
  border-radius: 18px;
  border: 2.5px solid black;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(0,0,0,1);
  text-transform: uppercase;
  transition-duration: 0.4s;
  cursor: pointer;
}
.LoginBtn:hover{
  background-color: #bb0a21;
  color: white;
}
#Google_G_Logo {
  position: absolute;
  width: 48.446px;
  height: 49.424px;
  left: 90px;
  top: 574.787px;
  overflow: visible;
}
#Path_2549 {
  fill: rgba(66,133,244,1);
}
.Path_2549 {
  overflow: visible;
  position: absolute;
  width: 23.735px;
  height: 23.199px;
  left: 24.711px;
  top: 20.259px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2550 {
  fill: rgba(52,168,83,1);
}
.Path_2550 {
  overflow: visible;
  position: absolute;
  width: 38.463px;
  height: 19.976px;
  left: 2.629px;
  top: 29.448px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2551 {
  fill: rgba(251,188,4,1);
}
.Path_2551 {
  overflow: visible;
  position: absolute;
  width: 10.837px;
  height: 22.191px;
  left: 0px;
  top: 13.622px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2552 {
  fill: rgba(234,67,53,1);
}
.Path_2552 {
  overflow: visible;
  position: absolute;
  width: 38.617px;
  height: 19.987px;
  left: 2.629px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#twitter-seeklogocom {
  position: absolute;
  width: 47.554px;
  height: 38.646px;
  left: 175.5px;
  top: 580.282px;
  overflow: visible;
}
#Path_2553 {
  fill: rgba(85,172,238,1);
}
.Path_2553 {
  overflow: visible;
  position: absolute;
  width: 47.554px;
  height: 38.646px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#facebook {
  position: absolute;
  width: 49.211px;
  height: 49.211px;
  left: 260px;
  top: 575px;
  overflow: visible;
}
#facebook_bh {
  fill: rgba(58,85,159,1);
}
.facebook_bh {
  overflow: visible;
  position: absolute;
  width: 49.211px;
  height: 49.211px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Rectangle_276 {
  opacity: 0.7;
  fill: rgba(187,10,33,1);
}
.Rectangle_276 {
  position: absolute;
  overflow: visible;
  width: 1238px;
  height: 82px;
  left: 147px;
  top: 878px;
}
#GDPR {
  left: 169px;
  top: 891px;
  position: absolute;
  overflow: hidden;
  width: 202px;
  height: 23px;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(255,249,251,1);
  text-transform: uppercase;
}
#CLICK_HERE_TO_ACCEPT_COOKIES_T {
  left: 169px;
  top: 922px;
  position: absolute;
  overflow: visible;
  width: 821px;
  height: 23px;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(255,249,251,1);
  text-transform: uppercase;
}

#Enrolle {
  position: absolute;
  width: 506px;
  height: 91px;
  left: 150px;
  top: 35px;
  overflow: visible;
}
