@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

.mediaViewInfo {
  --web-view-name: NotesPage;
  --web-view-id: NotesPage;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: NotesPage;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#NotesPage {
  position: absolute;
  width: 1600px;
  height: 960px;
  background-color: rgba(255,255,255,1);
  overflow: hidden;
  --web-view-name: NotesPage;
  --web-view-id: NotesPage;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
#circle {
  fill: rgba(187,10,33,1);
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.circle {
  position: absolute;
  overflow: visible;
  width: 258px;
  height: 251px;
  left: 671px;
  top: -62px;
}
#Notes {
  left: 738px;
  top: 95px;
  position: absolute;
  overflow: visible;
  width: 125px;
  white-space: nowrap;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: rgba(0,0,0,1);
}
#bottomBar{
  opacity: 0.7;
  fill: rgba(187,10,33,1);
}
.bottomBar{
  position: absolute;
  overflow: visible;
  width: 1600px;
  height: 132px;
  left: 0px;
  top: 828px;
}

#supportBtn{
  left: 114px;
  top: 891px;
  position: absolute;
}
.supportBtn{
  background-color: transparent;
  text-align: center;
  white-space: nowrap;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: black;
  text-transform: uppercase;
  cursor: pointer;
}

.supportBtn:hover{
  text-decoration: underline;
}
#contactBtn{
  left: 300px;
  top: 891px;
  position: absolute;
}

.contactBtn{
  background-color: transparent;
  text-align: center;
  white-space: nowrap;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: black;
  text-transform: uppercase;
  cursor: pointer;
}
.contactBtn:hover{
  text-decoration: underline;
}

#Enrolle {
  transform-origin: center;
  position: absolute;
  width: 212px;
  height: 38px;
  left: 40px;
  top: 40px;
  overflow: visible;
}
#EnrolleBtn{
  transform-origin: center;
  position: absolute;
  width: 212px;
  height: 38px;
  left: 78px;
  top: 80px;
  overflow: visible;
}
.EnrolleBtn{
  background-color: transparent;
  padding-right: 110px;
  padding-bottom: 10px;
  border: 3px solid transparent;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: transparent;
  text-transform: uppercase;
  cursor: pointer;
}

#List_of_Notes {
  left: 166px;
  top: 253px;
  position: absolute;
  overflow: visible;
  width: 143px;
  white-space: nowrap;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(0,0,0,0.604);
}


#inputNotes[type=text]{
  position: absolute;
  width: 832px;
  height: 201px;
  left: 166px;
  top: 556px;
  overflow: visible;
  border: 3px solid rgb(112, 112, 112);
  border-radius: 18px;
  font-family: Montserrat;
  font-style: initial;
  font-weight: normal;
  font-size: 14px;
  color: #454545;
}
#notesList{
  position: absolute;
  width: 416px;
  height: 183px;
  left: 166px;
  top: 297px;
  overflow: visible;
  border: 3px solid rgb(112, 112, 112);
  border-radius: 18px;
  font-family: Montserrat;
  font-style: initial;
  font-weight: normal;
  font-size: 14px;
  color: #454545;
}
#accountBtn{
  position:absolute;
  width: 145px;
  height: 42px;
  left: 1200px;
  top: 63px;
}
.accountBtn{
  background-color: transparent;
  padding: 8px;
  border-radius: 18px;
  border: 2px solid black;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: black;
  text-transform: uppercase;
  cursor: pointer;
  transition-duration: 0.4s
}

.accountBtn:hover{
  background-color: #bb0A21;
  color: white;
}
#logoutBtn{
  position: absolute;
  width: 145px;
  height: 42px;
  left: 1381px;
  top: 63px;

}
.logoutBtn{
  background-color: transparent;
  padding: 8px;
  border-radius: 18px;
  border: 2px solid black;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: black;
  text-transform: uppercase;
  cursor: pointer;
  transition-duration: 0.4s
}

.logoutBtn:hover{
  background-color: #bb0A21;
  color: white;
}

#createBtn{
  position:absolute;
  width: 125px;
  height: 42px;
  left: 1040px;
  top: 615px;
}

.createBtn{
  background-color: #bb0A21;
  padding: 6px;
  border-radius: 18px;
  border: 3px solid black;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  transition-duration: 0.4s
}

.createBtn:hover{
  border-color: #bb0A21;
  color: black;
}

#updateBtn{
  position: absolute;
  width: 125px;
  height: 42px;
  left: 1040px;
  top: 676px;
}

.updateBtn{
  background-color: #bb0A21;
  padding: 6px;
  border-radius: 18px;
  border: 3px solid black;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  transition-duration: 0.4s
}

.updateBtn:hover{
  border-color: #bb0A21;
  color: black;
}